body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: linear-gradient(90deg, rgba(56,48,182,0.8015581232492998) 0%, rgba(168,155,187,1) 0%, rgba(190,115,65,1) 33%, rgba(59,43,56,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
